.gradle
*.iml
/local.properties
.idea
.DS_Store
/build
*.apk
/app/src/main/java/com/chromium/fontinstaller/SecretStuff.java
/app/manifest-merger-release-report.txt
/app/fabric.properties
/app/google-services.json
