.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/app/src/main/java/com/chromium/fontinstaller/SecretStuff.java
/app/manifest-merger-release-report.txt
/app/fabric.properties